.ContentBackground {
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    padding: 52px;
    width: 50%;
    height: 50%;
    float: right;
    top: 50%;
    position: absolute;
    transform: translate(50%, -50%);
}